sudo: false
language: python

matrix:
  include:
  - os: linux
    python: 2.7
  - os: linux
    python: 3.5

addons:
  apt:
    packages:
    - libboost-python-dev
    - libboost-thread-dev
    - libbluetooth-dev
    - libglib2.0-dev
install:
- pip install codecov gattlib
script: coverage run --source=. `which nosetests` .
after_success:
- coverage report -m
- codecov
